<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyFTPClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <MyFTPClient.Properties.Settings>
            <setting name="FTPServerAddress" serializeAs="String">
                <value>ftp://test.rebex.net/pub/example/</value>
            </setting>
            <setting name="FTPServerUserName" serializeAs="String">
                <value>demo</value>
            </setting>
            <setting name="FTPServerPassword" serializeAs="String">
                <value>password</value>
            </setting>
        </MyFTPClient.Properties.Settings>
    </userSettings>
</configuration>